/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

#chatContent {
    overflow-x: hidden;
    overflow-y: auto;
}

.fromMe {
    color: red;
}

.isBusy {
    color: red;
}

.main-container {
    border: solid 2px black;
    width: 750px;
    height: 1134px;
    position: absolute;
}

.chatBar {
    position: relative;
    margin-bottom: 30px;
}

.chatBar div:first-child{
    color: red;
    display: inline-block;
}

.chatBar div:last-child{
    color: blue;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.chatBar div:last-child div {
    font-size:30px;
    padding-top: 10px;
}

.chatBar span:first-child {
    font-size: 50px;
    z-index: 10;
}

.chatBar span:nth-child(2) {
    font-size: 30px;
    position: relative;
    bottom: 12px;
}
@media only screen and (max-width: 600px) {
    .chatBar span:nth-child(2) {
        display: none;
    }
}
.isSent {
    width: 60%;
    float: right;
}

.isReceive {
    width: 60%;
    float: left;
}

#messageSpace input {
    width: 80%;
    display: inline-block;
}

#messageSpace button {
    width: 19%;
    margin-left:5px;
}

#inputBar {
    position: absolute;
    width: 96%;
    bottom: 30px;
}

#loginBtn {
    margin-top: 100px;
    text-align: center;
}

#loginBtn button:first-child {
    margin-right: 5px;
}